@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-light-1 font-sans font-medium text-dark-1 dark:bg-dark-1 dark:text-light-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-extrabold italic leading-[3rem];
  }

  pre,
  code {
    @apply font-mono font-medium !important;
  }

  pre[class*="language-"] {
    @apply !m-0;
  }

  code[class*="language-"] {
    padding-right: 16px;
  }

  code[class*="language-"] .block,
  pre[class*="language-"] .block {
    display: inline !important;
  }
}
